html {
	font-family: 'Open Sans', sans-serif;
	color: #616161;
	letter-spacing: 1px;
}

body {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h2 {
	background-color: #F1EDED;
	padding: 10px 25px;
	font-size: 1.2em;
	margin-top: 30px;
}

p {
	padding: 0 50px 0 50px;
}