/* USE CODE FROM THE FIRST CLASS TO PRACTICE VARIABLES/NESTING IN SASS */

/* SASS VARIABLES */

$primaryLinkColor: #27D4AF;
$secondaryLinkColor: #B935CE;
$menuBackgroundColor: #f9f9f9;
$primaryFontFamily: "Open-Sans", sans-serif;

/* WEEK ONE STYLING - SELECTORS */

body {
	font-family: $primaryFontFamily;
	color: #717171;
}

section {
	padding: 0 10%;
}

p {
	line-height: 1.7em;
}

h1 {
	text-shadow: 1px 1px $primaryLinkColor;
}

/* remove some default styling */

.logo {
	height: 40px;
	width: 80px;
	background-color: $primaryLinkColor;
	border: solid 4px #717171;
	margin: 20px auto 50px auto;
}

nav {
	text-align: center;
	margin-bottom: 50px;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			a {
				text-decoration: none;
				color: $primaryLinkColor;
				text-transform: uppercase;
				letter-spacing: 1px;
				display: block;
				padding: 10px 20px;
			}
			a:hover {
				background-color: #F1F1F1;
			}
		}
		ul {
			display: none;
			background-color: $menuBackgroundColor;
			position: absolute;
			width: 300%;
			text-align: left;
			li a {
				text-transform: none;
				color: $secondaryLinkColor;
				font-size: .9em;
			}
			li a:hover {
				background-color: #ddd;
			}
		}
	}
}

/* targets the main nav only, and not the sub-nav */
nav > ul > li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	background-color: $menuBackgroundColor;
}

.has-sub-nav {
	position: relative;
}

nav ul li:hover ul {
	display: block;
}