/* STYLING FOR THE BODY CONTENT */

body {
	margin: 0 15px;
}

.wrapper {
	max-width: 738px;
	margin: auto;
}

.main-img-wrapper img {
	display: none;
	max-width: 735px;
}

section {
	font-family: Helvetica, sans-serif;
	color: #9C9C9A;
	.column {
		
	}
}

h2 {
	font-weight: 300;
	font-size: 2em;
}